.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/Unity/Assets/StreamingAssets/
/netcoreapp2.0
/Unity/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user
/ToolsApp/
/Unity/Unity.Editor.csproj
/Unity/Assets/Bundles/Code/Code.dll.bytes
/Unity/Assets/Bundles/Code/Code.dll.bytes.meta
/Unity/Assets/Bundles/Code/Code.pdb.bytes
/Unity/Assets/Bundles/Code/Code.pdb.bytes.meta
/Unity/Assembly-CSharp.csproj
/Excel/~$*.xlsx
/.vscode
/Unity/.vsconfig
Unity/Unity.Hotfix.csproj
Unity/Unity.HotfixView.csproj
Unity/Unity.Model.csproj
Unity/Unity.ModelView.csproj
/Build-Win64-2
/Build-Android2
/Build-Android-2020.3.33
/Build-Win64-2020.3.33
/Build-Win64-2021.3.1
/UserSettings/Layouts
/Build-Android-2021.3.1
/Release
/Unity/HybridCLRData/LocalIl2CppData/
/Unity/HybridCLRData/il2cpp_plus_repo/
/Unity/HybridCLRData/hybridclr_repo/
/Unity/HybridCLRData/HotFixDlls/
/Unity/HybridCLRData/AssembliesPostIl2CppStrip/
/Assets/StreamingAssets
/Release-Win64
/Build-Android64
/Build-AndroidV7
/Unity/Assets/HybridCLRBuildCache
/Release-Android
/Release-Win32
/Build-WebGL
Unity/CatJson.Editor.csproj
Unity/CatJson.Runtime.csproj
Unity/Assembly-CSharp-Editor-firstpass.csproj
Unity/IngameDebugConsole.Editor.csproj
Unity/IngameDebugConsole.Runtime.csproj
Unity/Assembly-CSharp-Editor.csproj
Unity/Assembly-CSharp-firstpass.csproj
/Unity/BuildBundles
Unity/DOTween.Modules.csproj
Unity/HotfixMono.csproj
Unity/Unity.HotfixMono.csproj
Unity/Sirenix.OdinInspector.CompatibilityLayer.csproj
Unity/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
Unity/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
Unity/DOTweenPro.EditorScripts.csproj
Unity/Assets/Bundles/Code/Unity.ThirdParty.dll.bytes
Unity/Assets/Bundles/Code/HotfixMono.dll.bytes
Unity/Assets/Bundles/Code/HotfixMono.dll.bytes.meta
Unity/Assets/Bundles/Code/HotfixMono.pdb.bytes
Unity/Assets/Bundles/Code/HotfixMono.pdb.bytes.meta
Unity/Assets/Bundles/Code/Unity.Mono.dll.bytes
Unity/Assets/Bundles/Code/Unity.Mono.dll.bytes.meta
Unity/Assets/Bundles/Code/Unity.ThirdParty.dll.bytes.meta
